
{%style %}

.collections-container{


min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 5px;

}

.custom-section-heading{
text-align: center;
}

.single-collection{
height:350px;
width: 100%;

position: relative;
}
.collections{

display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
gap: 20px;
width: 90%;

}
.img-ele{
width: 100%;
height: 100%;
object-fit: cover;
}

.text-container{
position: absolute;
bottom: 0;
min-height: 35px;
padding: 4 15px;
background-color: rgba(0, 0, 0, 0.6);
display: flex;
justify-content: center;
align-items: center;
width: 100%;

}
.text-element{
color: white;
font-size: 14px;

}

.single-collection:hover .text-container{
animation-name: changebackground;
animation-duration: 0.3s;
animation-timing-function: linear;
animation-fill-mode: forwards;
}

@keyframes changebackground {
0%{
    background-color:  rgba(58, 131,126, 0.5);
    height: 50%;

}


100%{
    background-color: rgba(58, 131,126, 0.5);
    height: 100%;
} 

}

@media  screen and (max-width:600px) {
.collections{
    grid-template-columns: 1fr;
}
}
@media  screen and (min-width:768px) {
.custom-section-heading{
    font-size: 42px;
}

}


{% endstyle %}











<div class="section collections-container">
        {%- if section.settings.title != blank -%}
        <h1 class="custom-section-heading">{{ section.settings.title }}</h1>
        {%- endif -%}
        <div class="collections">
        {%- for block in section.blocks -%}
            <div class="single-collection" style="text-align:{{ settings.settings.heading_position }}">
                  {% if block.settings.collection.featured_image != blank -%}
                 <img src={{ block.settings.collection.image.src | image_url }} width="auto" height="auto" class="img-ele" />
                 {%- endif -%}
                 <div class="text-container">
                    {%- if block.settings.collection.title -%}
                      <h3 class="text-element">{{ block.settings.collection.title }}, {{ settings.settings.heading_position }}</h3>
                    {%- endif -%}
                    
                 </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
























{% schema %}
{
  "name": "Custom-collection-section",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Heading Position"
    },
    {
      "type": "color_background",
      "id": "color_background",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom collect section",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}



