{{ 'customherobanner.css' | asset_url | stylesheet_tag }}




<div class="custom-heroshow  custom-slideshow-wrapper custom-slideshow--{{ section.id }}">
    <section id="herosectionslider" class="custom-heroshow--splide splide">
      <div class="custom-hero-show--track splide__track ">
        <ul class="custom-hero-show--splide-list splide__list">
          {% for block in section.blocks %}
            <li class="custom-hero-show-splide-slide splide__slide">
              {% if block.settings.desktop_image != blank %}
                {% comment %}
                  {% render 'responsive-picture',
                    desktopImage: block.settings.desktop_image,
                    mobileImage: block.settings.mobile_image
                  %}
                {% endcomment %}
                <img
                  src="{{ block.settings.desktop_image | image_url }}"
                  alt="Slide Image"
                  height="300"
                  width="300"
                >
              {% endif %}
              <div class="custom-herosection-splidecontent slide-content">
                {% if block.settings.pre_heading != blank %}
                  <h1>{{ block.settings.pre_heading }}</h1>
                {% endif %}
  
                {% if block.settings.heading_two != blank %}
                  <p>{{ block.settings.heading_two }}</p>
                {% endif %}
  
                {% if block.settings.button_label != blank %}
                  <button>{{ block.settings.button_label }}</button>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new Splide('#herosectionslider.splide' , {
        pagination: true,
        perPage: 1,
        gap: '60px',
        arrows: false,
        breakpoints: {
          425: {
            perPage: 1,
            gap: '20px',
          },
          768: {
            perPage: 1,
          },
        },
      }).mount();
    });
  </script>
  {% schema %}
  {
    "name": "Hero Slideshow",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Slider Options"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Enable Autoplay",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_pagination",
        "label": "Show dots",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show Arrows",
        "default": true
      },
      {
        "type": "range",
        "id": "auto_play_duration",
        "label": "Autoplay duration",
        "min": 1000,
        "max": 5000,
        "step": 1000,
        "unit": "ms",
        "default": 2000
      },
      {
        "type": "header",
        "content": "Animation Options"
      },
      {
        "type": "select",
        "id": "animation",
        "label": "Animations",
        "default": "fade",
        "options": [
          {
            "value": "fade",
            "label": "fade"
          },
          {
            "value": "loop",
            "label": "loop"
          },
          {
            "value": "slide",
            "label": "slide"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "header",
            "content": "Media Options"
          },
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image",
            "info": "Recommended Size:  1360 x 633 px"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image",
            "info": "Recommended Size:  360 x 282 px"
          },
          {
            "type": "header",
            "content": "Text Customisation"
          },
          {
            "type": "text",
            "id": "pre_heading",
            "label": "Pre Heading",
            "default": "Women's Apparel"
          },
          {
            "type": "richtext",
            "id": "heading_two",
            "label": "Heading",
            "default": "<p>Heading Text</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "Explore More"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Links"
          },
          {
            "type": "header",
            "content": "Text Positions"
          },
          {
            "type": "select",
            "id": "text_position_selector",
            "label": "Select Text Positions",
            "default": "center-center",
            "options": [
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "label": "Top Center",
                "value": "top-center"
              },
              {
                "label": "Center Left",
                "value": "Center-left"
              },
              {
                "label": "Center center",
                "value": "center-center"
              },
              {
                "label": "Center Right",
                "value": "center-right"
              },
              {
                "label": "Bottom Left",
                "value": "bottom-left"
              },
              {
                "label": "Bottom Right",
                "value": "bottom-right"
              },
              {
                "label": "Bottom Center",
                "value": "bottom-center"
              }
            ]
          },
          {
            "type": "select",
            "id": "desktop_content_allignment",
            "label": "Desktop Content Allignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Slideshow"
      }
    ]
  }
  {% endschema %}