
{% style %}
    .custom-slideshow--{{ section.id }}{
        padding-top:{{ section.settings.padding_top | divided_by:2 }}px;
        padding-bottom:{{ section.settings.padding_bottom | divided_by:2 }}px;
        background-color: {{section.settings.backgrond_color}};
    }
    .custom-slide{
    font-weight: 600;
    line-height: 1.5;
    text-align:center;
    font-size:12px;
    flex-wrap:wrap;
    }
   
    .splide__arrow{
        background:transparent;
    }
    .splide__arrow svg{
        fill:#ffffff;
        height:18px;
        width:18px;
    }
    .anchor_element_none{
        text-decoration:none;
        outline:none;
        margin-left:15px;
    }

    @media screen and (min-width:749px){
        .custom-slideshow--{{ section.id }}{
            padding-top:{{ section.settings.padding_top }}px;
            padding-bottom:{{ section.settings.padding_bottom }}px;
        }
        .splide{
            width:600px;
            margin : 0 auto;
        }
         .custom-slide{
        font-size: 16px;
        }
    }

    .splide{
        max-width:100%;
        margin:0 auto;
    }


    
{% endstyle %}

<div class="custom-slideshow--{{ section.id }}" id="customSlideshow">
    <div class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for block in section.blocks %}
                    <li class="splide__slide custom-slide" style="color:{{ block.settings.text_color }}; font-weight:{{ block.settings.font_weight }};" >{{ block.settings.announcement }} <span class="navigation_styles"> <a href="{{block.settings.navigation_url}}" class="anchor_element_none" style="border-bottom: 1px solid {{ block.settings.underline_color }}; color: {{block.settings.text_color }};" > {{ block.settings.navigation_text }} </a> </span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('.splide', {
        type   : 'loop',
        permove:1,
        autoplay: {{ section.settings.auto_play }},
        interval: {{ section.settings.auto_play_duration }} * 1000, 
        pagination: {{ section.settings.show_pagination }},
        arrows: {{ section.settings.show_arrows }},
      }).mount();
      
    });
</script>

{% schema %}
    {
        "name": "custom-announcement-bar",
        "tag": "section",
        "class": "section",
        "enabled_on": {
            "groups": ["header"]
          },
        "settings": [
            {
                "type": "header",
                "content": "Slider options"
            },
            {
              "type": "color_background",
              "id": "backgrond_color",
              "label": "Background Color",
              "default": "#000000"
            },
            {
                "type": "checkbox",
                "id": "auto_play",
                "label": "Enable auto play",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "show_pagination",
                "label": "Show dots",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "show_arrows",
                "label": "Show arrows",
                "default": true
            },
            {
                "type": "range",
                "id": "auto_play_duration",
                "min": 1,
                "max": 5,
                "step": 1,
                "unit": "sec",
                "label": "Autoplay duration",
                "default": 4
            },
            {
                "type": "header",
                "content": "Section padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "Padding Top",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "Padding Bottom",
                "default": 0
            }
        ],
        "blocks": [
            {
                "name":"Slide",
                "type": "slide",
                "settings": [
                    {
                        "type": "header",
                        "content": "Text customization"
                    },
                    {
                        "type": "text",
                        "id": "announcement",
                        "label": "Pre announcement",
                        "default": "An Effortless Shipping Experience"
                    },
                    {
                        "type": "color",
                        "id": "text_color",
                        "label": "Text color",
                        "default": "#ffffff"
                    },
                    {
                        "type": "text",
                        "id": "navigation_text",
                        "label": "Navigation Label",
                        "default": "Learn More",
                        "info": "Navigation Label"
                    },
                    {
                        "type": "url",
                        "id": "navigation_url",
                        "label": "Navigation Url"
                    },
                    {
                        "type": "color",
                        "id": "underline_color",
                        "label": "Navigation link Underline color",
                        "default": "#06aaa1"
                    },
                    {
                        "type": "range",
                        "id": "font_weight",
                        "min": 100,
                        "max": 1000,
                        "step": 100,
                        "label": "Font Weight",
                        "default": 400
                    }
                   
                ]
            }
        ],
        "presets": [
            {
                "name": "custom-announcement-bar",
                "blocks": [
                    {
                        "type": "slide"
                    },
                    {
                        "type": "slide"
                    },
                    {
                        "type": "slide"
                    }
                ]
            }
        ]
    }
{% endschema %}