
<head>   <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet"> </head>
{% style %}

.our-story-bg-container{
    background-color:#2d2d2d ;
    padding:5rem;
    min-height: 100vh;
}

*, :after, :before {
    box-sizing: inherit;
    font-family: "Roboto";
}
.our-story-content-container{
    display: flex;
    justify-content: center;

}
.our-story-text-contentainer{
    padding: 5rem;
}
.our-story-iamge-container{
    width: 60%;
}
.our-story-text-contentainer{
    width: 40%;
}
.img-ele{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.heading-Ele{
    color: #ffffff;
    font-size: 40px;
}

.para-Ele{
    line-height: 28px;
    opacity: .8;
    color: #ffff;
}  
.button-ele {
    padding: 10px 30px;
    font-size: 16px;
    height: 40px;
    width: 160px;
    border-radius:8px ;
    outline: none;
    background-color: #3A837E;
    border: none;
    color: #ffffff;
    margin-top: 20px
    ;

}

@media screen and (max-width:768px) {
    .our-story-bg-container{
        padding: 3rem 1.5rem;
    }
    
    
}

@media screen and (max-width:1000px) {
    .our-story-content-container{
        flex-direction: column;
    }
    .our-story-iamge-container{
        width: 100%;
    }
    .our-story-text-contentainer{
        width: auto;
    }
    .our-story-text-contentainer{
        padding: 3rem;
    }
}

.splide__arrow--prev, .splide__arrow--next{
    display: none !important;
}

.splide__pagination__page{
    bottom: -50px;
    width: 10px !important;
    height: 10px !important;
    background-color: #ffffff !important;
    margin: 5px !important;
}
.splide__pagination__page.is-active{
    background-color: #3A837E !important;
}



{% endstyle %}





<div class="our-story-bg-container">
  <div class="our-story-content-container">
   <div class="our-story-iamge-container">
       <div class="splide">
           <div class="splide__track">
               <ul class="splide__list">
                  {% for block in section.blocks %}
                   <li class="splide__slide">
                      {% if block.Image_id != blank %}
                        <img src={{ block.Image_id | image_url}} height="auto" width="auto" class="img-ele">

                      {% endif %}
                   </li>
                   {% endfor %}
               </ul>
           </div>
       </div>
   </div>
   <div class="our-story-text-contentainer">
       <div class="heading-container">
           {% if section.settings.heading != blank %}
            <h1 class="heading-Ele">{{section.settings.heading  }}</h1>
            {% endif %}
            {% if section.settings.text != blank %}
              <p class="para-Ele">{{ section.settings.text }}</p>
            {% endif %}
             {% if section.settings.button_label != blank  %}
              <div class="button-container">
                <a href={{ section.settings.button_linkEl  }}> <button class="button-ele"> {{ section.settings.button_label }}   </button></a>
            </div>

              {% endif %}
           
       </div>

   </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script>
   var splide = new Splide( '.splide' );
    splide.mount();
</script> 











{% schema %}
{
  "name": "our story section",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Our Story",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Effortless was designed and developed by leading ecommerce professionals who are passionate about design and user experience, creating intuitive, user-friendly layouts that are optimized for success and sure to delight our customers.</p>",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Shop Now",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_linkEl",
      "label": "Button Url"
    }
   
  ],
  "blocks": [
    { 
      "name": "Image Picker",
      "type": "image_picker",
      "settings": [
        {
           "type": "image_picker",
           "id": "Image_id",
           "label": "Pick an Image"
        }
      ]
    
    
    }
   
   
  ],
  "presets": [
    {
      "name": "Our Story Section",
      "blocks": [
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        }
      ]
    }
  ]
}
{% endschema %} \
