
<head>   <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet"> </head>

{% style %}

.our-story-bg-container{
    background-color:#2d2d2d ;
    padding:6rem;
    min-height: 100vh;
}

*, :after, :before {
    box-sizing: inherit;
}
.our-story-content-container{
    display: flex;
    justify-content: center;

}
.our-story-text-contentainer{
    padding: 5rem;
}
.our-story-iamge-container{
    width: 60%;
    border:none;
}
.our-story-text-contentainer{
    width: 40%;
}
.img-ele{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heading-Ele{
    color: #ffffff;
    font-size: 40px;
}

.para-Ele{
    line-height: 28px;
    opacity: .8;
    color: #ffff;
}  
.button-ele {
    padding: 10px 30px;
    font-size: 16px;
    height: 40px;
    width: 160px;
    border-radius:8px ;
    outline: none;
    background-color: #3A837E;
    border: none;
    color: #ffffff;
    margin-top: 20px;

}

@media screen and (max-width:768px) {
    .our-story-bg-container{
        padding: 3rem 1.5rem;
    }
    
    
}

@media screen and (max-width:1000px) {
    .our-story-content-container{
        flex-direction: column;
    }
    .our-story-iamge-container{
        width: 100%;
    }
    .our-story-text-contentainer{
        width: auto;
    }
    .our-story-text-contentainer{
        padding: 3rem;
    }
}
.splide__slide{
  position: "relative"
}

.splide__arrow--prev, .splide__arrow--next{
    display: none !important;
}

.splide__pagination__page{
    bottom: -50px;
    width: 10px !important;
    height: 10px !important;
    background-color: #ffffff !important;
    margin: 5px !important;
}
.splide__pagination__page.is-active{
    background-color: #3A837E !important;
}
.product-tag-circle-top{
  position: absolute;
    width: 15px;
    height: 15px;
    background: #ffffff;
    z-index: 9;
    border-radius: 100%;
    top: 0%;
    left: 0%;

}
.hotspot-container-top .product-tag-circle-top:before {
    position: absolute;
    content: "";
    border-radius: 100%;
    transition: all .4s;
    border: 15px solid #ffffff80;
    width: 36px;
    height: 36px;
    left: -10px;
    z-index: 8;
    top: -10px;
}
.product-tag-circle-bottom{
  position: absolute;
    width: 15px;
    height: 15px;
    background: #ffffff;
    z-index: 9;
    border-radius: 100%;
    top: 0%;
    left: 0%;

}
.hotspot-container-bottom .product-tag-circle-bottom:before {
    position: absolute;
    content: "";
    border-radius: 100%;
    transition: all .4s;
    border: 15px solid #ffffff80;
    width: 36px;
    height: 36px;
    left: -10px;
    z-index: 8;
    top: -10px;
}
.card_hover_show{
  padding: 8px;
  display: flex;
  background-color:#fff;
  position:absolute;
  align-items:center;
  top:10%;
  left:10%;
  z-index: 10;

}
.view_deatails_btn{
  font-size: 1rem;
    color: rgb(58, 131, 126,1);
    font-weight: 700;
    text-decoration: underline;
    padding-top: 10px;
    display: block;
}
.hover_card_image_container{
  display: flex;
    margin-right: 10px;
    width: 82px;
    max-height: 82px;
}
.hover_card_image{
  width:100%;
  object-position:center;
  object-fit:cover;

}
.card-text-container{
  background-color: #fff;
  max-width: 130px;
}
.product_card_title{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration:underline;
    padding: 0;
    margin:0;
}
.product_card_price{
  font-size: 2rem;
    color: #000;
    text-decoration:underline;
    padding: 0;
    margin:0;
}





{% endstyle %}






<div class="our-story-bg-container">
  <div class="our-story-content-container">
   <div class="our-story-iamge-container">
       <div class="splide">
           <div class="splide__track">
               <ul class="splide__list">
                  {% for block in section.blocks %}
                   <li class="splide__slide">
                      {% if block.settings.Image_id != blank %}
                        <img src="{{ block.settings.Image_id | image_url}}" height="auto" width="auto" class="img-ele">
                        {% if block.settings.first_checkbox == true %}
                        <div class="hotspot-container-top">
                         <span class="product-tag-circle-top" style="top:{{ block.settings.first_hotspot_top_position }}%; left:{{ block.settings.first_hotspot_left_position }}%;"></span>
                        </div>
                        {%  endif %}
                        {% if block.settings.second_checkbox == true %}
                        <div class="hotspot-container-bottom">
                          <span class="product-tag-circle-bottom" style="top:{{ block.settings.second_hotspot_top_position}}%; left:{{ block.settings.second_hotspot_left_position}}%;"></span>
                         </div>
                        {%  endif %}
                        <div class="card_hover_show">
                          <div class="hover_card_image_container">
                            <img src= "{{ block.settings.first_product.featured_image | image_url }} "  height=82 width=82 class="hover_card_image">
                          </div>
                           <div class="card-text-container">
                            <p class= "product_card_title">{{ block.settings.first_product.title }}</p>
                            <p class= "product_card_price">{{ block.settings.first_product.price | money }}</p>
                            <span class="view_deatails_btn">View full details</span>

                          </div>

                        </div>
                      {% endif %}
                   </li>
                   {% endfor %}
               </ul>
           </div>
       </div>
   </div>
   <div class="our-story-text-contentainer">
       <div class="heading-container">
           {% if section.settings.heading != blank %}
            <h1 class="heading-Ele">{{section.settings.heading  }}</h1>
            {% endif %}
            {% if section.settings.text != blank %}
              <p class="para-Ele">{{ section.settings.text }}</p>
            {% endif %}
             {% if section.settings.button_label != blank  %}
              <div class="button-container">
                <a href="{{ section.settings.button_linkEl  }}"> <button class="button-ele"> {{ section.settings.button_label }}   </button></a>
            </div>

              {% endif %}
           
       </div>

   </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script>
   var splide = new Splide( '.splide' );
    splide.mount();
</script> 











{% schema %}
{
  "name": "our story section",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Our Story",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Effortless was designed and developed by leading ecommerce professionals who are passionate about design and user experience, creating intuitive, user-friendly layouts that are optimized for success and sure to delight our customers.",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Shop Now",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_linkEl",
      "label": "Button Url"
    }
   
  ],
  "blocks": [
    { 
      "name": "Image Picker",
      "type": "image_picker",
      "settings": [
        {
          "type": "header",
          "content": "Slider Image"
        },
        {
           "type": "image_picker",
           "id": "Image_id",
           "label": "Pick an Image"
        },
        {
          "type": "header",
          "content": "First Hostpot Position"
        },
        {
          "type": "checkbox",
          "id": "first_checkbox",
          "label": "Display first Hotspot",
          "default": false
        },
        {
          "type": "product",
          "id": "first_product",
          "label": "First Product"
        },
        {
          "type": "range",
          "id": "first_hotspot_top_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "First Top Position",
          "default": 0
        },
        {
          "type": "range",
          "id": "first_hotspot_left_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "First Hotspot Left position",
          "default": 0
        },
        {
          "type": "paragraph",
          "content": "First Product Card Positions"
        },
        {
          "type": "range",
          "id": "first_card_top_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "First Card Top Position",
          "default": 0
        },
        {
          "type": "range",
          "id": "first_card_left_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "First Card Left position",
          "default": 0
        },
        {
          "type": "url",
          "id": "first_card_link",
          "label": "First Card Link"
        },
        {
          "type": "header",
          "content": "Second Hotspot Position"
        },
        {
          "type": "checkbox",
          "id": "second_checkbox",
          "label": "Display Second Hotspot",
          "default": false
        },
        {
          "type": "product",
          "id": "second_product",
          "label": "Second Product"
        },
        {
          "type": "range",
          "id": "second_hotspot_top_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Second Hotspot Top Position",
          "default": 0
        },
        {
          "type": "range",
          "id": "second_hotspot_left_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Second Hotspot Left position",
          "default": 0
        },
        {
          "type": "paragraph",
          "content": "Second Product Card Positions"
        },
        {
          "type": "range",
          "id": "second_card_top_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Second Card Top Position",
          "default": 0
        },
        {
          "type": "range",
          "id": "second_card_left_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Second Card Left position",
          "default": 0
        },
        {
          "type": "url",
          "id": "second_card_link",
          "label": "Second Card Link"
        }

      ]
    
    
    }
   
   
  ],
  "presets": [
    {
      "name": "Our Story Section",
      "blocks": [
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        }
      ]
    }
  ]
}
{% endschema %} 
