{% style %}

.custom-testmonial--bg-container{
 background-color:{{ section.settings.background_color }};
 padding: 3rem;
 min-height:100vh;
}
*{

  font-family: "Inter";
  padding:0px;
  box-sizing:"border-box"
}


/* .custom-testmonial-{{ section.id }}{
    padding-top: {{section.settings.padding_top | divided_by:2 }}px;
    padding-bottom: {{section.settings.padding_bottom | divided_by:2 }}px;

}

@media screen and (min-width:768px){
    .custom-testmonial-{{ section.id }}{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    
  } */
*, :after, :before {
    box-sizing: inherit;
    
}
.custom-testmonial--content-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

.custom-testmonial--image-container{
  text-align:center;
}

.custom-testmonial--image-size{
  width:100%;
  height:100%;
  max-height:500px;
  object-fit:cover;
}


.custom-testmonial--main-container{
  padding:3rem;
  width:100%;
}
.custom-testimonials--authour-container{
  display:flex;
  align-items:center;
}
.profile-pic{
  margin-right:20px;
}


.cutsom-testmonial--blog-text{
  font-family: "inter";
  font-weight:400;
  font-size: 20px;
  color: #282824;


}
.custom-testmonial--description{
  font-family: "Inter";
  font-size: 15px;
  line-height:21px;
  font-weight:300;
  color: #282824;
  text-align:center;

}
.custom-testimonials--slide{
/* background-color:#F6FFC2; */
  height:300px;
  overflow:hidden;
  max-width:300px;
  padding:20px;
  border : 1px solid #5C6E4A;

}
.custom-testmonial--author-name{
  color: #5C6E4A;
  font-size:18px;
  font-weight:400;
}

@media screen and (min-width:992px){
  .custom-testmonial--content-container{
    flex-direction:row;
  }
  .custom-testmonial--image-container{
    width:40%;

}
.custom-testmonial--main-container{
  width:60%;
  display:flex;
  flex-direction:column;
}

}

@media screen and (min-width:992px){
  .custom-testmonial--bg-container{
    padding:5rem;
  }
}

#custom-testmonial--splider .splide__pagination__page{
Width:15px;
Height:4px;
border-radius: 2px;
color:#D0D0C9;
bottom:-50px;
margin-right:10px;
  
}

#custom-testmonial--splider .splide__pagination__page.is-active{
    width:40px;
    height:4px;
    border-radius:2px;
    background-color:#5C6E4A;
}

.custom-testmonial--heading{
  font-weight:bold;
}

{% endstyle %}





{% liquid 
    assign autoplay =  section.settings.auto_play 
    assign showPagination =  section.settings.show_pagination 
    assign showArrows =  section.settings.show_arrows 
    assign duration =  section.settings.auto_play_duration 

%}
   
   
{% capture sliderSettings %}
   {
    "autoplay": {{ autoplay }},
    "pagination" : {{ showPagination }},
    "arrows": {{ showArrows }},
    "gap": "20px",
    "PerPage": "2",
    "focus": 0,
    "perPage": 1.95,
    "perMove": 1,
    "breakpoints": {
        "500": {
            "perPage": 1
        }
    }
   }
   
{% endcapture %}
   
   



<div class="custom-testmonial--bg-container  custom-testmonial-{{ section.id }}" >
    <div class="custom-testmonial--content-container page-width">
        <div class="custom-testmonial--image-container">
          <div class="splide" id="display-image">
            <div class="splide__track">
              <ul class="splide__list">
                {%  for block in section.blocks  %}
                  <li class="splide__slide">
                    <img src="{{ block.settings.Main_image | image_url }}" height="auto" width="auto" class="custom-testmonial--image-size" />
                  </li>
                {% endfor %}
              </ul>
            </div>
            </div>
        </div>
        <div class="custom-testmonial--main-container">
            <h1 class="custom-testmonial--heading">{{ section.settings.title }}</h1>
            <p class="custom-testmonial--description">{{ section.settings.description }} </p>
            <div class="custom-testmonial--slider-container">
                <custom-slider class="splide" data-slider-options= '{{ sliderSettings }}' id="custom-testmonial--splider">
                    <div class="splide__track">
                      <ul class="splide__list">
                        {%  for block in section.blocks %}
                        <li class="splide__slide" data-active="{{ block.settings.background_active }}">
                          <div class="custom-testimonials--slide">
                            {%- if block.settings.testmonial_text != blank -%}
                                <p class="cutsom-testmonial--blog-text">{{ block.settings.testmonial_text }}</p>
                            {%- endif -%}
                            <div class="custom-testimonials--authour-container">
                              {%- if block.settings.authour_image -%}
                                <img src="{{ block.settings.authour_image | image_url }}" height="auto" width="auto" class="profile-pic"/>
                            {%- endif -%}
                                <div class="custom-testimonials--authour-text">
                                    {%- if block.settings.author_name != blank -%}
                                        <span class="custom-testmonial--author-name">{{ block.settings.author_name }}</span>
                                        <br/>
                                    {%- endif -%}
                                    {%- if block.settings.authror_title != blank -%}
                                        <span>{{ block.settings.authror_title }}</span>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                        </li>
                      {% endfor %}
                        </ul>
                    </div>
                </custom-slider>
            </div>
        </div>
   </div>
</div>





<script src= {{ "component-splide.js" | asset_url }} defer></script>
<script>



</script>




{% schema %}

   {
   "name": "Testmonial Section",
   "tag": "section",
   "class": "section",
   "settings": [
    {
        "type": "header",
        "content": "Testmonial settings"
    },
    {
        "type": "color_background",
        "id": "background_color",
        "label": "Background color",
        "default": "#ffffff"
     
     },
     {
        "type": "header",
        "content": "Text customization"
    },

      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Testimonials",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "label": "Heading alignment"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      },
      
      {
        "type": "header",
        "content": "Slider Options"
      },
      {
        "type": "checkbox",
        "id": "auto_play",
        "label": "Enable autoplay",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "show_pagination",
        "label": "Show Dots",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show arrows",
        "default": false
    },
    {
        "type": "range",
        "id": "auto_play_duration",
        "min": 1000,
        "max": 5000,
        "step": 1000,
        "unit": "ms",
        "label": "Autoplay Duration",
        "default":2000
    },
    {
        "type": "header",
        "content": "Animation Options"
    },
    {
        "type": "select",
        "id": "slider_animation",
        "label": "Slider animation",
        "options": [
            {
            "value": "fade",
            "label": "Fade"
            },
            {
              "value": "slide",
            "label": "Slide"
            },
             {
                 "value": "loop",
                "label": "Loop"
                }

        ],
        "default": "slide"
    },
    {
        "type": "header",
        "content": "Section Padding"
    },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 10
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 10
      }
      


   ],
   "blocks": [
    
    {
      "type": "slider",
      "name": "slider",
      "settings": [
       {
        "type": "header",
        "content": "Background Color Customization"
       },
       {
        "type": "color_background",
        "id": "background_active",
        "label": "Active card background color",
        "default": "rgba(246, 255, 194, 1)"
       },
       {
        "type": "color_background",
        "id": "background_normal",
        "label": "Card background color",
        "default": "#ffffff"
       },
       {
        "type": "text",
        "id": "testmonial_text",
        "label": "Testmonial card Text",
        "default": "“ Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque “"
       },
      {
        "type": "header",
        "content": "Author Deatils"
      },
      {
        "type": "image_picker",
        "id": "authour_image",
        "label": "author image"
      },
      
      {
        "type": "inline_richtext",
        "id": "author_name",
        "default": "Mr. John Doe",
        "label": "Author name"
      },
      {
        "type": "text",
        "id": "authror_title",
        "label": "author Title",
        "default": "Clients"
      },
      {
        "type": "image_picker",
        "id": "Main_image",
        "label": "Main Image"
      }

      ]
    
    
    }





   ],
   "presets": [
    {
     "name": " custom Testmonial section",
     "blocks": [
        {
        "type": "slider"
        }
     ]
    }

   ]


}




{% endschema %} 